html, 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    visibility: hidden;
}


/* Centering NavBar Menu Items */
.navbar.has-centered-menu .navbar-start {
    flex-grow: 1;
    justify-content: center;
}

/* Set Hero Image */ 
#hero-poster-container {
    
    background-image: 
        linear-gradient(to bottom, rgba(245, 246, 252, 0.32), rgba(27, 27, 27, 0.73)),
        url("/movies/hero/croods2-6000x4284_compressed.jpg");

    /* Center & Scale Properly */
    object-fit: contain;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  

}

#prev-movie,
#next-movie {
    height:4rem;
    width: 4rem;
}

#prev-hero-movie {
    position: absolute;
    left: 0;
}

#next-hero-movie {
    position: absolute;
    right: 0;
}


/* Center Trailer Play Button */
#hero-poster-container {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;  
}

.tag {
    margin-left:0.3rem;
}

/* Bottom Right Align Movie Tags */
.movie-tags {
    position: absolute;
    padding-bottom: 1rem;
    padding-right: 1rem;
    bottom: 0;
    right: 0;
}


.movie-name {
    position: absolute;
    padding: 2rem 0rem 2rem 2rem;
    bottom: 0;
    left: 0;
}

.main-movie-title {
    font-size: 4rem;
    font-weight: bold;
}

.sub-movie-title {
    font-size: 2.5rem; 
}

/* Buy Tickets Button */
.buy-ticket {
    padding-top: 1rem;
    padding-right: 1rem;
}

.checkout-button {
    background-color: #f61434;
    color: white;
    border: none;
    transition: all 0.25s ease-in-out;
}

.checkout-button:hover {
    cursor: pointer;
    background-color: white;
    color:  #f61434;
}

/* Play Button Transitions */
.hero-controls {
    opacity: 0.85;
    height: 8rem;
    width: 8rem;

    transition: all 0.25s ease-in-out;
}

.hero-controls:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.08);
}


/* Space Footer Content to Ends */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

/* Make Footer Sticky */
#wrapper {
    flex: 1;
}

.tile {
    
    padding: 2rem;
}

.tile.is-ancestor {
    margin: 0;
}


.card {
    margin-bottom: 1.5rem;
}

.card-content {
    padding: 1rem;
}


.media-content {
    padding-bottom: 0.8rem;
}

figure img {
    object-fit: cover;
    width: 100%;
}

.modal-close {
    background:rgba(27, 27, 27, 0.73);
}

ul {
    padding-top: 1rem;
    padding-left: 1rem;
}

iframe {
    width: 95%;
    height: 95%
}


#admissions-modal {
    width: 25%;
}

@media only screen and (max-width: 750px) {
    #hero-tags {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .movie-tags {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .main-movie-title {
        font-size: 3rem;
    }
    
    .sub-movie-title {
        font-size: 1.5rem; 
    }

}

@media only screen and (max-height: 600px) {
    .movie-details {
        display: none;
    }
}

